.header {
  position: fixed;
  /* padding-bottom: 20px; */
  width: -webkit-fill-available;
  width: 100%;
  /* display: contents; */
  /* z-index: unset; */
  /* overflow: visible; */
  /* margin-bottom: auto; */
  /* margin: revert; */
  height: fit-content;
  z-index: 10;
}
.active {
  color: gold;
}
.a:hover {
  color: red !important;
  text-decoration: none !important;
}
// .header .p-menuitem-link a[disabled] {
//   color: #ccc; // gray color for disabled items
//   cursor: not-allowed; // change cursor to indicate disabled state
//   pointer-events: none; // prevent click events on disabled items
//   opacity: 0.5; // reduce opacity to indicate disabled state
// }
.p-menuitem-link:hover {
  color: red !important;
  text-decoration: none !important;
}
.p-menuitem-link:active {
  color: goldenrod !important;
  text-decoration: none !important;
}
