<p-menubar [model]="items" class="header">
  <ng-template pTemplate="item" let-item let-root="root">
    <a
      [routerLink]="item.routerLink"
      routerLinkActive="active"
      class="flex align-items-center p-menuitem-link"
    >
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>

      <span
        *ngIf="item.shortcut"
        class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >{{ item.shortcut }}</span
      >
      <i
        *ngIf="item.items"
        [ngClass]="[
          'pi',
          root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
        ]"
      ></i>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-2 p-2">
      <i [class]="loginService.isLogin ? 'pi pi-spin pi-cog' : ''"></i>
      <div>
        {{ loginService.isLogin ? "Hello, " + loginService.userName : "" }}
      </div>
      <a href="#" (click)="logout($event)"><i class="pi pi-power-off"></i></a>
    </div>
  </ng-template>
</p-menubar>
