<p-table [value]="userData" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
    </tr>
  </ng-template>
  <!-- as *ngfor -->
  <ng-template pTemplate="body" let-row>
    <!-- @IF("!isLoading") -->
    <tr *ngIf="!isLoading">
      <td>{{ row.id }}</td>
      <td>{{ row.fullName }}</td>
      <td>{{ row.userName }}</td>
      <td>{{ row.password }}</td>
      <td>{{ row.email }}</td>
    </tr>
    <tr *ngIf="isLoading">
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
    </tr>
  </ng-template>
</p-table>
